.sidenav{
    background-color: rgb(187, 131, 212);
    width: 200px;
}
a{
    color: aliceblue !important;
}
i{
    padding-right: 10px;
}

.content{
    background-color: aliceblue;
    padding: 16px;
}